<div class="row">
    <div class="span8">
        <h2>Revisions:</h2>
        <hr />
        {revisions}
    </div>
    <div class="span4">
        <h2>Settings</h2>
        <hr />
        {form}
        <hr />
        <a href="javascript:void(0);" class="btn delete-app"><i class="icon-remove"></i> Delete application</a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        var deleteURL = "/apps/delete/{id}";
        $(".delete-app").click(function() {
            if(confirm("Are you sure?")) {
                location.href = deleteURL;
            }
        })
    });
</script>