<div class="row">
    <div class="span6 offset3">
        <hr />
        <h3 class="centered">Add new  applications:</h3>
        <form action="/apps/add/store" method="post" id="appForm">
            <table class="table">
                <tr> 
                    <td>Name:</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>Source:</td>
                    <td><input type="text" name="source" /></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td>
                        <select name="type">
                            <option value="svn">svn</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="user" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="pass" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="button" value="add" class="btn btn-primary" id="add" /></td>
                </tr>
            </table>
        </form>
        <hr />
        <div class="centered">
            <a href="/" class="btn">back</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var mandatoryFields = ["name", "source", "user", "pass"];
        $("#add").click(function() {
            for(var i=0; i<mandatoryFields.length; i++) {
                var input = $("input[name='" + mandatoryFields[i] + "']");
                var value = input.val();
                if(value == "") {
                    alert("Missing data.");
                    input.focus();
                    return;
                }
            }
            $("#appForm").submit();
        });
    });
</script>