<div class="row">
    <form action="/" method="post">
        <input type="hidden" name="action" value="login" />
        <div class="span6 offset3">
            <table class="table">
                <tr>
                    <td></td>
                    <td><h3>Please login:</h3></td>
                </tr>
                <tr> 
                    <td>Username:</td>
                    <td><input type="text" name="username" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="login" class="btn btn-primary" /></td>
                </tr>
            </table>
        </div>
    </form>
</div>